.privateFolder{
    -fx-constant: "HAND";
    -fx-image: url('jar/Styles/person-fill.svg');

}

.leftButton{
    -fx-pref-width: 328;
    -fx-pref-height: 60;
    -fx-min-width: USE_PREF_SIZE;
    -fx-min-height: USE_PREF_SIZE;
    -fx-background-radius: 40;
    -fx-background-color: TRANSPARTENT;
    -fx-cursor: HAND;
    -fx-translate-x: -25;
}

.img{
    -fx-image: url('persona.png');
    -fx-fit-to-height: 41px;
    -fx-fit-to-width: 37px;
    -fx-max-height:41;
    -fx-max-width:37 ;
    -fx-translate-x: -40;
    -fx-cursor: HAND;
    -fx-scale: 0.5%;
    -fx-fit-width: 40px;
    -fx-fit-height: 37px;
    -fx-setFitWidth: 40px;
    -fx-setFitHeight: 37px;

}

.menu-item:focused {
    -fx-background-color:red;
    -fx-focus-color:white;
}

