.pathBtn {
    -fx-text-fill: Black;
    -fx-text-alignment: center;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 40;
    -fx-font-size: 24;
    -fx-pref-height: 40;
    -fx-max-width: 250;
    -fx-cursor: HAND;

}

.pathPacman {
    -fx-text-fill: rgb(156, 156, 156);
    -fx-text-alignment: center;
    -fx-background-color: TRANSPARENT;
    -fx-background-radius: 40;
    -fx-font-size: 40;
    -fx-pref-height: 40;
    -fx-max-width: 40;


}